body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
}

.dashboard-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  width: 250px;
  background-color: #4caf50;
  color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.sidebar button {
  width: 100%;
  padding: 15px 20px;
  margin: 10px 0;
  background-color: #45a049;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.sidebar button:hover {
  background-color: #3a9342;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
}

.list-view h3 {
  color: #333;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.create-list-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;
  margin-top: 20px;
}

.create-list-button:hover {
  background-color: #45a049;
}

.my-lists {
  list-style-type: none;
  padding-left: 0;
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
}

.list-item span {
  flex-grow: 1;
  text-align: left;
}

.view-list-button {
  padding: 8px 15px;
  background-color: #ffc107;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.view-list-button:hover {
  background-color: #e0a800;
}

.edit-list-button,
.delete-list-button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #f44336;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-right: 8px;
}

.edit-list-button:hover {
  background-color: #0056b3;
}

.delete-list-button {
  background-color: #f44336;
}

.delete-list-button:hover {
  background-color: #e03131;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-inner h3 {
  margin-top: 0;
  color: #333;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.popup-inner input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.add-item-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.add-item-button:hover {
  background-color: #45a049;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.popup-buttons .create-list-button,
.popup-buttons .cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  flex: 1;
  margin: 0 5px;
}

.popup-buttons .create-list-button {
  background-color: #4caf50;
  color: white;
}

.popup-buttons .create-list-button:hover {
  background-color: #45a049;
}

.popup-buttons .cancel-button {
  background-color: #f44336;
  color: white;
}

.popup-buttons .cancel-button:hover {
  background-color: #e03131;
}

.logout-button {
  background-color: #f44336;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: auto;
}

.logout-button:hover {
  background-color: #e03131;
}

.view-list-button,
.edit-list-button,
.delete-list-button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 12px;
}

.view-list-button {
  background-color: #ffc107;
  color: white;
}

.view-list-button:hover {
  background-color: #e0a800;
}

.edit-list-button {
  background-color: #007bff;
  color: white;
}

.edit-list-button:hover {
  background-color: #0056b3;
}

.delete-list-button {
  background-color: #f44336;
  color: white;
}

.delete-list-button:hover {
  background-color: #e03131;
}

.popup-inner button {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.popup-inner button.cancel-button {
  background-color: #f44336;
  color: white;
}

.popup-inner button.cancel-button:hover {
  background-color: #e03131;
}

.popup-inner button.close-button {
  background-color: #2196f3;
  color: white;
}

.popup-inner button.close-button:hover {
  background-color: #1976d2;
}
