body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background: url('../assets/market-background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.login-form input[type="email"],
.login-form input[type="password"],
.login-form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-form button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #45a049;
}

.signup-button {
  background-color: #008CBA;
  color: white;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.signup-button:hover {
  background-color: #007bb5;
}
