body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: url("../assets/market-background.jpg") no-repeat center center
    fixed;
  background-size: cover;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.login-form input[type="email"],
.login-form input[type="password"],
.login-form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-form button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #45a049;
}

.signup-button {
  background-color: #008cba;
  color: white;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

.signup-button:hover {
  background-color: #007bb5;
}

.social-login {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  padding: 10px;
  border: none;
  border-radius: 50% !important;
  color: white;
  cursor: pointer;
  font-size: 24px;
  margin: 5px !important ;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-button:hover {
  transform: scale(1.1);
}

.google-button {
  background-color: #db4a39 !important;
}

.google-button:hover {
  background-color: #c13829 !important;
}

.github-button {
  background-color: #333 !important;
}

.github-button:hover {
  background-color: #222 !important;
}

.linkedin-button {
  background-color: #0077b5 !important;
}

.linkedin-button:hover {
  background-color: #005983 !important;
}
